## Introduction to Pandas

Pandas is yet another library in Python that facilitates data manipulation and analysis. When in doubt, check the [DOCS](https://pandas.pydata.org/pandas-docs/stable/reference/index.html). <br><br>
Functions and methods to keep for life:
* .read_csv()
* .head()
* .columns
* display()
* pd.concat()
* .merge()
* .rename()

In [1]:
import pandas as pd

![pandas](https://media.giphy.com/media/zrdUjl6N99nLq/giphy.gif)

In [2]:
# to import a file into a pandas DataFrame
df1 = pd.read_csv('file1.csv')

# to display the dataframe
df1

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [3]:
df1.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

In [4]:
df2 = pd.read_csv('file2.txt', sep='\t') # sep is the parameter that determines by which character the document is being separated by
df2# displays the DataFrame keeping the nice format

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684,36,29098,7,19,586,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540,1,16623,5,68,529,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295,0,12713,9,12,221,276,12.857143,0,0,C2,12.0

In [5]:
df2.tail()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
1010,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684,36,29098,7,19,586,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540,1,16623,5,68,529,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295,0,12713,9,12,221,276,12.857143,0,0,C2,12.0

In [6]:
df1.columns # it is the same in df2

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [7]:
# if we want to join one DF under the other
data = pd.concat([df1, df2])
data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684.0,36,29098,7,19,586.0,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540.0,1,16623,5,68,529.0,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295.0,0,12713,9,12,221.0,276,12.857143,0,0,C2,12.0

In [8]:
# What if we wanted to join two dataframes side by side?
# Hint: read the docs and observe the image below
data = pd.concat([df1, df2], axis=1)
data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,...,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060.0,FL,M,AAA896,392.0,520.0,7.0,21975,6.0,16.0,...,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,96093.0,IL,M,537.00,365.0,473.0,0.0,19387,1.0,89.0,...,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,43333.0,FL,F,725.00,301.0,436.0,3.0,18837,11.0,17.0,...,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,21885.0,NC,M,AAA1095,401.0,413.0,7.0,14014,1.0,74.0,...,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,190108.0,FL,F,995.00,252.0,348.0,0.0,17991,5.0,6.0,...,11582,3,20,238,225,11.500000,28,3601,T2,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29098,7,19,586,551,9.769231,2,1403,S1,20.0
1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16623,5,68,529,506,5.200000,0,0,T2,5.0
1014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12713,9,12,221,276,12.857143,0,0,C2,12.0

![](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/1.3+-+Axes+Explain+-+Data.jpg)

In [9]:
# The same idea as the above (side by side), but using merge
df1.merge(df2, right_index=True, left_index=True) # when you have a column you want to match use the 'on' parameters

,CONTROLN_x,STATE_x,GENDER_x,HV1_x,IC1_x,IC4_x,HVP1_x,IC5_x,POBC1_x,POBC2_x,...,IC5_y,POBC1_y,POBC2_y,IC2_y,IC3_y,AVGGIFT_y,TCODE_y,DOB_y,DOMAIN_y,TARGET_D_y
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,...,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,...,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,...,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,...,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,...,11582,3,20,238,225,11.500000,28,3601,T2,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,...,16702,7,62,447,491,4.950000,0,0,C1,10.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,...,14860,19,39,417,393,6.350000,0,2401,U3,10.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,...,10107,0,71,258,258,10.000000,0,2401,S2,15.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,...,15707,16,45,451,436,5.812500,0,4601,T1,7.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,...,10096,3,75,276,287,13.375000,0,4610,T2,17.0

#### Merge VS Concat VS Join: to know more click [here](https://realpython.com/pandas-merge-join-and-concat/). <br><br>

In [10]:
# it is good practice to standardize your column names for it's practicality
# standardized column names will be meaninfull strings, lower cased and with '_' instead of 'spaces'

cols = []

for i in range(len(data.columns)):
    cols.append(data.columns[i].lower())
    
cols

['controln',
 'state',
 'gender',
 'hv1',
 'ic1',
 'ic4',
 'hvp1',
 'ic5',
 'pobc1',
 'pobc2',
 'ic2',
 'ic3',
 'avggift',
 'tcode',
 'dob',
 'domain',
 'target_d',
 'controln',
 'state',
 'gender',
 'hv1',
 'ic1',
 'ic4',
 'hvp1',
 'ic5',
 'pobc1',
 'pobc2',
 'ic2',
 'ic3',
 'avggift',
 'tcode',
 'dob',
 'domain',
 'target_d']

In [ ]:
# Extra Challenge: turn the for loop above into a list comprehension

In [11]:
data.columns = cols
data

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,...,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060.0,FL,M,AAA896,392.0,520.0,7.0,21975,6.0,16.0,...,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,96093.0,IL,M,537.00,365.0,473.0,0.0,19387,1.0,89.0,...,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,43333.0,FL,F,725.00,301.0,436.0,3.0,18837,11.0,17.0,...,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,21885.0,NC,M,AAA1095,401.0,413.0,7.0,14014,1.0,74.0,...,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,190108.0,FL,F,995.00,252.0,348.0,0.0,17991,5.0,6.0,...,11582,3,20,238,225,11.500000,28,3601,T2,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29098,7,19,586,551,9.769231,2,1403,S1,20.0
1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16623,5,68,529,506,5.200000,0,0,T2,5.0
1014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12713,9,12,221,276,12.857143,0,0,C2,12.0

In [12]:
# Another way of standardizing columns

data.columns = data.columns.str.upper()
data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,...,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060.0,FL,M,AAA896,392.0,520.0,7.0,21975,6.0,16.0,...,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,96093.0,IL,M,537.00,365.0,473.0,0.0,19387,1.0,89.0,...,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,43333.0,FL,F,725.00,301.0,436.0,3.0,18837,11.0,17.0,...,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,21885.0,NC,M,AAA1095,401.0,413.0,7.0,14014,1.0,74.0,...,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,190108.0,FL,F,995.00,252.0,348.0,0.0,17991,5.0,6.0,...,11582,3,20,238,225,11.500000,28,3601,T2,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29098,7,19,586,551,9.769231,2,1403,S1,20.0
1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16623,5,68,529,506,5.200000,0,0,T2,5.0
1014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12713,9,12,221,276,12.857143,0,0,C2,12.0

#### Check out how I did that [here](https://towardsdatascience.com/using-string-methods-in-pandas-5e4509ff1f5f). <br><br>

In [ ]:
# renaming columns
data = data.rename(columns={'controln':'id',
                            'hv1':'median_home_val',
                            'ic1':'median_household_income'})

data

### Additional operations

In [ ]:
data = pd.read_csv('merged_clean_ver1.csv', index_col=0)

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.columns

In [ ]:
data['gender'].value_counts()

In [ ]:
data['gender'].unique()

In [ ]:
data.shape

In [ ]:
data.sample(frac=0.5)

![more](https://media.giphy.com/media/QoCoLo2opwUW4/giphy.gif)